:root{
	--primary-text-color: #212121;
	--seconadary-text-color:#ffff;
	--title-color: #0000;
	--sub-title-color: #212121;
	--artical-color-text: #757575;
	--primary-background: #FFFFFF;
	--section-bg-color: #2F303A;
	--hover-color: #2196F3;
	
}


.padding-list{
	list-style-type: none;
	padding: 0;
	
}
body{
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	color: var(--primary-text-color);
	background-color:var(--primary-background) ;
}

/* header */
.logo {
	text-decoration: none;
	color: #000000;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}
.logo span{
	color: #2196F3;
}

.header-list {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header-link {
	color: var(--primary-text-color);
	text-decoration: none;
}
.active-link{
	color: var(--hover-color);
}
.header-link:hover,
.header-link:focus {
	color: var(--hover-color);
}
.link-color {
	color: var(--artical-color-text);
}

/* section 1 */
.section-one {
	background-color:var(--section-bg-color);
	
}
.main-title {
	text-transform: uppercase;
	color:var(--seconadary-text-color);
	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
}
           /* BUTTONS */
			  
.button {
	display: block;
	cursor: pointer;
	background-color: #F5F4FA;
	color: var(--primary-text-color);
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;
	margin: 0 auto;
}
.button:hover,
.button:focus {
	color: #ffff;
	background-color: var(--hover-color);

}
/* section 2 */
.title-hide {
	display: none;
}


.section-text {
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--artical-color-text);
}

.section-subtitle {
	color: var(--sub-title-color);
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
/* section 3 */

.section-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
}

/* section 4 */
.team-title {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-text {
	color: var(--artical-color-text);
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}

/* portfolio page */

/* section 1 */
.porfolio-link {
	text-decoration: none;
}
.portfolio-subtitle{
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-text{
	color: var(--artical-color-text);
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}



/* footer */
.footer {
	background-color: var(--section-bg-color);
}
.footer-logo{
	color: #FFFFFF;
}

.footer-text {
	color: var(--seconadary-text-color);
		line-height: 24px;
		letter-spacing: 0.03em;
		text-align: left;
}
.footer-link {
	color: #FFFFFF99;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
}